@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700;900&display=swap');
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    font-size:12px;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    font-family:'Kumbh Sans';
}
main{
    border-radius:1.5rem;
}
h1{
    font-size:1.8rem;
    font-weight:bold;
}
details{
    border-color:hsl(240, 5%, 91%);
}

details summary{
    list-style:none;
    color:hsl(240, 6%, 50%);
    font-weight:700;
}

details summary:hover{
    color:hsl(14, 88%, 65%);
}

details>p{
    font-size:0.65rem;
    color:hsl(240, 6%, 50%);
}

details summary::after {
    content: url("./../images/icon-arrow-down.svg");
    float:right;
  }
  
  details[open] summary::after {
    content: url("./../images/icon-arrow-down.svg");
    transform:rotate(180deg);
  }
  details[open] summary{
    color:black;
  }
section{
    width:85%;
}

@media screen and (max-width:576px){
    body{
        align-items:start;
        background-attachment:fixed;
    }
    main{
        min-width:326px;
        width:326px;
        flex-direction:column;
        background-image:url("./../images/bg-pattern-mobile.svg");
        background-repeat:no-repeat no-repeat;
        background-position-x:center;
        margin-top:200px;
        justify-content:center;
        align-items:center;
    }
    h1{
        text-align:center;
    }
  
    header{
        margin-top:-31%;
        justify-content:center;
        align-items:center;
    }
    #illustration{
        width:75%;
        content:url("./../images/illustration-woman-online-mobile.svg");
    }
    #cube{
        display:none;
    }
}
@media screen and (min-width:576.01px) and (max-width:1200px){
    body{
        align-items:start;
        background-attachment:fixed;   
    }
    main{
        width:380px;
        flex-direction:column;
        background-image:url("./../images/bg-pattern-mobile.svg");
        background-repeat:no-repeat no-repeat;
        background-position-x:center;
        margin-top:200px;
        justify-content:center;
        align-items:center;
    }
    h1{
        text-align:center;
    }
    header{
        margin-top:-27%;
        justify-content:center;
    }
    #illustration{
        width:75%;
        content:url("./../images/illustration-woman-online-mobile.svg");
    }
    #cube{
        display:none;
    }
}
@media screen and (min-width:1200.01px){
    body{
        align-content:flex-start;
        align-items:start;
        margin-top:10%;
        background-attachment:fixed;
    }
    main{
        flex-direction:row;
        justify-content:flex-end;
        align-items:flex-end;
        width:920px;
        background-image:url("./../images/bg-pattern-desktop.svg");
        background-position-x:-610px;
        background-position-y:-350px;
        background-repeat: no-repeat no-repeat;
        position:relative;
    }

    .hide{
        overflow:hidden;
        height:100%;
        width:100%;
    }
    #illustration{
        position:absolute;
        top:25px;
        right:550px;
        width:50%;
        content:url("./../images/illustration-woman-online-desktop.svg");
    }
    section{
        max-width:500px;
        padding-right:9em;
    }
    details>summary{
        margin-bottom:1em;
    }

    #cube{
        content:url("./../images/illustration-box-desktop.svg");
        position:absolute;
        width:18%;
        top:160px;
        right:830px;
    }
}